.modal{
    display: block;
    position: absolute;
    width: 300px;
    height: 180px;
    background-color: rgb(0, 153, 255);
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    border-radius: 10%;
    box-shadow: 4px 4px 10px black;
    transition: linear 0.2s opacity;
}

.is-none{
    display: none;
}

//form
.ask_form{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-right: 15px;
    padding-left: 15px;
}
//label
label{
    margin-bottom: 10px;
    font-weight: 600;
}


.close_ask{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: blanchedalmond;
    &:hover{
        cursor: pointer;
        box-shadow: 1px 1px 6px black;
    }
}

.ask_btn{
    border-radius: 10px;
    width: 44px;
    height: 34px;
    font-weight: 700;
margin-top: 20px;
margin-left: 50%;
transform: translate(-50%);
background-color: blanchedalmond;

&:hover{
    cursor: pointer;
    box-shadow: 1px 1px 6px black;
}
}